// Place all the styles related to the public/addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addresses {
  width: 15%;
}

.address_table_title {
  background-color: #f5f5f5;
}

.address_edit {
  width: 11%;
}