// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage {
  background-color: #f0f0f0;
  padding-left: 12px;
  padding-right: 1px;
}