// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_button {
  text-decoration: none;
  color: black;
}

.content_top {
  height: 300px;
  width: 600px;
  position: relative;
}

.back_image {
  width: 80%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  background-image: image-url('3811683_s.jpg');
  opacity: 0.7;
}

.site_explanation {
  color: #800000;
  text-align: center;
  padding-top: 100px;
  position: absolute;
  font-size: 19px;
  font-weight: bold;
  padding-left: 130px;
}
