// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign_in {
  background-color: #f0f0f0;
  width: 9%;
  padding-left: 12px;
}

.sign_in_form {
  background-color: #f0f0f0;
  padding-left: 12px;
  padding-right: 12px;
}

.sign_up_yet {
  background-color: #f0f0f0;
  padding-left: 12px;
  padding-right: 12px;
}