<%= render 'layouts/public_header' %>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="about_title mt-5">About</h1>
      <p class="about_explanation">
        ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        様々なバリエーションをご用意しております。</br>
        また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。
      </p>
      <%= image_tag "baked-goods-1853261_640.jpg", size: "400x250" %>
    </div>
  </div>
</div>