// Place all the styles related to the admin/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre_top {
  background-color: #f0f0f0;
  width: 18%;
}

.genre_table {
  background-color: #f5f5f5;
}