// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order_top {
  background-color: #f0f0f0;
  width: 13%;
  padding-left: 12px;
}

.genre_search_form {
  border: solid 1px;
  border-color: black;
}

.search_form_head {
  border-bottom: solid 1px;
  border-color: black;
}

.site_explanation {
  height: 300px;
  width: 600px;
  color: white;
  background-image: image-url('3811683_s.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 100px;
}