// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order_top {
  background-color: #f0f0f0;
  width: 13%;
  padding-left: 12px;
}

.genre_search_form {
  border: solid 1px;
  border-color: black;
}

.search_form_head {
  border-bottom: solid 1px;
  border-color: black;
}

.orders_thead {
  background-color: #f5f5f5;
}