// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_top {
  background-color: #f0f0f0;
  width: 11%;
}

.items_table {
  background-color: #f5f5f5;
}

.items_show {
  width: 10%;
}

.items_edit {
  width: 10%;
}

.plus_button:hover {
  opacity: 0.6;
}