<%= render 'layouts/public_header' %>
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-3">
      <h5>注文履歴詳細</h5>
    </div>
    <div class="col-md-7 mr-1">
      <h7>注文情報</h7>
      <table border="1" class="mt-1" width="100%">
        <tr>
          <th class="col-md-3 show_table_title">注文日</th>
          <td class="col-md-9"></td>
        </tr>
        <tr>
          <th class="col-md-3 show_table_title">配送先</th>
          <td class="col-md-9"></td>
        </tr>
        <tr>
          <th class="col-md-3 show_table_title">支払方法</th>
          <td class="col-md-9"></td>
        </tr>
        <tr>
          <th class="col-md-3 show_table_title">ステータス</th>
          <td class="col-md-9"></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <h7>請求情報</h7>
      <table border="1" class="mt-1" width="100%">
        <tr>
          <th class="col-md-7 show_table_title">商品合計</th>
          <td class="col-md-5"></td>
        </tr>
        <tr>
          <th class="col-md-7 show_table_title">配送料</th>
          <td class="col-md-5"></td>
        </tr>
        <tr>
          <th class="col-md-7 show_table_title">ご請求額</th>
          <td class="col-md-5"></td>
        </tr>
      </table>
    </div>
    <div class="col-md-10 mt-2">
      <h7>注文内容</h7>
      <table border="1" class="mt-1">
        <thead class="show_table_title">
          <tr>
            <th class="col-md-8">商品名</th>
            <th class="col-md-2">単価(税込)</th>
            <th class="col-md-1">個数</th>
            <th class="col-md-1">小計</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>