<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg">
    <div class="container">
      <a class="navbar-brand">
        <span>ケーキの森</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-lavel="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        </ul>
      </div>
    </div>
  </nav>
</header>